<template name="movData">
  {{#if currentVisitor}}
    <div class="page-header text-center">
      <h4>Movimentação</h4>
    </div>

    <form id="movData" class="entryForm">
      <label for="motivo">Motivo</label>
      {{#unless currentVisitor.noPredio}}
      <input type="text" id="motivo" class="form-control" placeholder="Motivo" />

      <label for="gabinete">Gabinete</label>
      <select id="gabinete" class="form-control">
        {{#each gabinetes}}
          <option value="_id">{{procurador}}</option>
        {{/each}}
      </select>
      {{/unless}}
      <input type="submit" id="cadastrar" value="Cadastrar {{#if currentVisitor.noPredio}}Saida{{else}}Entrada{{/if}}" class="btn btn-default center-block form-control"/>
    </form>
  {{/if}}

  <div class="page-header text-center">
    <h4>Últimas movimentações</h4>
  </div>

  <div class="table-mov">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Hora</th>
          <th>Nome</th>
        </tr>
      </thead>

      <tbody>
        {{#each history}}
          <tr>
            <td>{{ data.toLocaleTimeString 'pt-BR' }} ({{tipo}})</td>
            <td>{{ nome }}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</template>
